@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
<<<<<<< HEAD
  display: flex;
  flex-direction: column;
=======
>>>>>>> 4c252336bbc7a539ede1aa31923390ec3229e98e
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
<<<<<<< HEAD
  padding: 8px 16px;
=======
>>>>>>> 4c252336bbc7a539ede1aa31923390ec3229e98e
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
<<<<<<< HEAD
}

.content{
    display: flex;
    flex: 1;
    gap: 16px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header, .footer {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    background-color: #eeeeee;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 16px;
}

a {
    text-decoration: none;
    color: #666666;
}
=======
  margin-bottom: 16px;
}
>>>>>>> 4c252336bbc7a539ede1aa31923390ec3229e98e
